<section class="nav-section">
  <header>
    <nav [class.active]="isActive">
      <ul>
        <div>
          <li><a href="/home" routerLinkActive="active" class="rotating-letter webV">{{ translate('V') }}</a></li>
          <li><a href="#about">{{ translate('ABOUT_ME') }}</a></li>
          <li><a href="#Projects">{{ translate('PROJECTS') }}</a></li>
          <li><a href="#Contact">{{ translate('CONTACT') }}</a></li>
        </div>
        <div>
          <span>
            <button [class.active]="currentLanguage === 'ka'" (click)="switchLanguage('ka')">KA</button>
            <button [class.active]="currentLanguage === 'en'" (click)="switchLanguage('en')">EN</button>
          </span>
          <span>
          <a href="https://github.com/VakoNarimanidze" target="_blank"><i class="fab fa-github soc"></i></a>
          <a href="https://www.instagram.com/vako_narimanidze?igsh=cmIzZ2p0M3N1OTVs&utm_source=qr" target="_blank"><i class="fab fa-instagram soc"></i></a>
          <a href="https://www.facebook.com/share/1AGWu3HYFQ/?mibextid=wwXIfr" target="_blank"><i class="fab fa-facebook-f soc"></i></a>
          <a href="www.linkedin.com/in/valeri-narimanidze-9149602a6" target="_blank"><i class="fab fa-linkedin-in soc"></i></a>
        </span>
        </div>
      </ul>
    </nav>
    <div class="burgerNav" (click)="toggleBurger()">
      <li><a href="/home" routerLinkActive="active" class="rotating-letter mobV">{{ translate('V') }}</a></li>
      <div class="burger">
        <span class="firstSpan" [class.rotate-down]="isActive"></span>
        <span class="secondSpan" [class.fade-out]="isActive"></span>
        <span class="thirdSpan" [class.rotate-up]="isActive"></span>
      </div>
    </div>
  </header>

  <h1>{{ translate('WELCOME') }}</h1>
</section>
<section class="intro-section" id="about">
  <h2>{{ translate('ABOUT_ME') }}</h2>
  <p>{{ translate('ABOUT_TEXT') }}</p>
</section>
<section class="projects-section" id="Projects">
  <h2>{{ translate('PROJECTS') }}</h2>
  <div class="project-container">
    <div class="project-item">
      <h3>Star Hotel with API</h3>
      <a target="_blank" href="https://github.com/VakoNarimanidze/StarHotel-StepProject-main"><i class="fas fa-folder"></i>{{ translate('REPOSITORY') }}</a>
      <a target="_blank" href="https://vakonarimanidze.github.io/StarHotel-StepProject-main/"><i class="fa-solid fa-desktop"></i>{{ translate('WEBSITE') }}</a>
    </div>
  <div class="project-item">
    <h3>Coaches Success</h3>
    <a target="_blank" href="https://github.com/VakoNarimanidze/Coaches-Success"><i class="fas fa-folder"></i>Repository</a>
    <a target="_blank" href="https://vakonarimanidze.github.io/Coaches-Success/"><i class="fa-solid fa-desktop"></i>Website</a>
  </div>
  <div class="project-item">
    <h3>Todo List</h3>
    <a target="_blank" href="https://github.com/VakoNarimanidze/toDoList"><i class="fas fa-folder"></i>Repository</a>
    <a target="_blank" href="https://to-do-list-4ogk7vpwi-vako-narimanidzes-projects.vercel.app/"><i class="fa-solid fa-desktop"></i>Website</a>
  </div>
  <div class="project-item">
    <h3>Guess Color Game</h3>
    <a target="_blank" href="https://github.com/VakoNarimanidze/GuessColorGame"><i class="fas fa-folder"></i>Repository</a>
    <a target="_blank" href="https://vakonarimanidze.github.io/GuessColorGame/"><i class="fa-solid fa-desktop"></i>Website</a>
  </div>
  <div class="project-item">
    <h3>Comming soon</h3>
    <a target="_blank" href=""><i class="fas fa-folder"></i>Repository</a>
    <a target="_blank" href=""><i class="fa-solid fa-desktop"></i>Website</a>
  </div>
  <div class="project-item">
    <h3>Comming soon</h3>
    <a target="_blank" href=""><i class="fas fa-folder"></i>Repository</a>
    <a target="_blank" href=""><i class="fa-solid fa-desktop"></i>Website</a>
  </div>
  <div class="project-item">
    <h3>Comming soon</h3>
    <a target="_blank" href=""><i class="fas fa-folder"></i>Repository</a>
    <a target="_blank" href=""><i class="fa-solid fa-desktop"></i>Website</a>
  </div>
  <div class="project-item">
    <h3>Comming soon</h3>
    <a target="_blank" href=""><i class="fas fa-folder"></i>Repository</a>
    <a target="_blank" href=""><i class="fa-solid fa-desktop"></i>Website</a>
  </div>
  
  </div>
  
</section>
<footer class="footer" id="Contact">
  <div class="footer-container">
    <h3>Contact Me</h3>
      <div class="footer-contact">
          <div class="contact-image">
            <img src="https://i.pinimg.com/736x/9e/67/07/9e670732af5dea40d3758bebecd7cfa7.jpg" alt="Contact Image">
          </div>
          <form action="#" method="POST" class="contact-form">
              <div class="form-group">
                  <label for="first-name">First Name</label>
                  <input type="text" id="first-name" name="first-name" required>
              </div>
              <div class="form-group">
                  <label for="last-name">Last Name</label>
                  <input type="text" id="last-name" name="last-name" required>
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" required>
              </div>
              <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="tel" id="phone" name="phone" required>
              </div>
              <div class="form-group">
                  <label for="message">Message</label>
                  <textarea id="message" name="message" rows="4" required></textarea>
              </div>
              <button type="submit" class="submit-btn">Submit</button>
          </form>
      </div>
      <p>&copy; Valeri Narimanide  2025</p>
  </div>
</footer>
